body {
  background-color: #454545;
  color: azure;
}

.App {
  height: 100vh;
}

.heading h1 {
  margin-top: 0;
  padding: 50px 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

.accordion {
  background: linear-gradient(225deg, #3e3e3e, #4a4a4a);
  box-shadow: -20px 20px 30px #3d3d3d, 20px -20px 30px #4d4d4d;
  position: relative;
  width: 60vw;
  padding: 25px 50px;
  /* height: calc(100vh - var(--h1Height)); */
}

.accordion p span {
  font-weight: 600;
}

.accordion-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.jobTitle {
  font-size: 40px;
  font-weight: 900;
}

.buttonClass {
  background: none;
  border: none;
  cursor: pointer;
  color: azure;
  padding: 10px;
  font-size: 40px;
}

.jobList {
  list-style: none;
  /* overflow-y: auto; */
}

.line {
  display: block;
  height: 1px;
  width: 100%;
  background: grey;
}

.jobDetails {
  width: 90%;
  color: #d0d0d0;
  display: none;
}

.showDescription .jobDetails {
  display: block;
}
